{% extends 'cat_main.html' %}
{% block title %}Business Details{% endblock  %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static "category/css/bootstrap.min.css"%}"><!-- bootstrap-CSS -->
<link rel="stylesheet" href="{% static "category/css/bootstrap-select.css"%}" ><!-- bootstrap-select-CSS -->
<link href="{% static "category/css/style.css"%}" rel="stylesheet" type="text/css" media="all" /><!-- style.css -->
<link rel="stylesheet" href="{% static "category/css/flexslider.css"%}" type="text/css" media="screen" /><!-- flexslider-CSS -->
<link rel="stylesheet" href="{% static "category/css/font-awesome.min.css"%}" /><!-- fontawesome-CSS -->
<link rel="stylesheet" href="{% static "category/css/menu_sideslide.css"%}" type="text/css" media="all"><!-- Navigation-CSS -->
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //meta tags -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->	
<!-- js -->
<script type="text/javascript" src="{%static "category/js/jquery.min.js"%}"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{%static "category/js/bootstrap.js"%}"></script>
<script src="{%static "category/js/bootstrap-select.js"%}"></script>

<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>

<script>
			$( document ).ready( function() {
				$( '.uls-trigger' ).uls( {
					onSelect : function( language ) {
						var languageName = $.uls.data.getAutonym( language );
						$( '.uls-trigger' ).text( languageName );
					},
					quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
				} );
			} );
		</script>
<!-- //language-select -->

<link rel="stylesheet" href="{% static "category/css/flexslider.css"%}" media="screen" /><!-- flexslider css -->
</head>
<body>
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs">
			<a href={% url 'index' %}><i class="fa fa-home home_1"></i></a> / 
			<a href={% url 'category' %}>All Business</a> / 
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">
			<div class="product-desc">
				<div class="col-md-7 product-view">
					<h2>cloud web hosting platform which offers fast, flexible, reliable and cost-effective solutions. </h2>
					<p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">state</a>, <a href="#">city</a>| Added at 06:55 pm, Business ID: 987654321</p>
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="{%static "category/images/cloud1.png"%}">
								  <img src="{%static "category/images/cloud2.jpg"%}"/>
							</li>
							<li data-thumb="{%static "category/images/cloud3.jpg"%}">
								  <img src="{%static "category/images/cloud4.jpg"%}"/>
							</li>
							<li data-thumb="{%static "category/images/cloud5.jpg"%}">
								  <img src="{%static "category/images/cloud6.jpg"%}">
							</li>
							<li data-thumb="{%static "category/images/cloud3.jpg"%}">
								  <img src="{%static "category/images/cloud4.jpg"%}"/>
							</li>
						</ul>
					</div>
					<!-- FlexSlider -->
					  <script defer src="{%static "category/js/jquery.flexslider.js"%}"></script>

						<script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
					  $('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					  });
					});
					</script>
					<!-- //FlexSlider -->
					<div class="product-details">
						<h4><span class="w3layouts-agileinfo">Brand </span> : <a href="https://aws.amazon.com/">AWS</a><div class="clearfix"></div></h4>
						<h4><span class="w3layouts-agileinfo">Views </span> : <strong>150</strong></h4>
						<h4><span class="w3layouts-agileinfo">Industry </span> : Technology</h4>
						<h4><span class="w3layouts-agileinfo">Summary</span> :<p>cloud web hosting platform which offers fast, flexible, reliable and cost-effective solutions. It is one of the top cloud service providers which offers a service in the form of building block which can be used to create and deploy any kind of application in the cloud. It is the most popular as it was the first to enter the cloud computing space.</p><div class="clearfix"></div></h4>
					
					</div>
				</div>
				<div class="col-md-5 product-details-grid">
					<div class="item-price">
						<div class="product-price">
							<p class="p-price">Turnover</p>
							<h3 class="rate">$ 45999</h3>
							<div class="clearfix"></div>
						</div>
						<div class="condition">
							<p class="p-price">Market Place</p>
							<h4>Good</h4>
							<div class="clearfix"></div>
						</div>
						<div class="itemtype">
							<p class="p-price">Business Type</p>
							<h4>Technology</h4>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="interested text-center">
						<h4>Interested in this Business?<small> Contact the Seller!</small></h4>
						<p><i class="glyphicon glyphicon-earphone"></i>00-85-9875462655</p>
					</div>
						<div class="tips">
						<h4>Business Features</h4>
							<ol>
								<li><a href="https://aws.amazon.com/">Easy sign-up process</a></li>
								<li><a href="https://aws.amazon.com/">Fast Deployments</a></li>
								<li><a href="https://aws.amazon.com/">Allows easy management of add or remove capacity</a></li>
								<li><a href="https://aws.amazon.com/">Access to effectively limitless capacity </a></li>
								<li><a href="https://aws.amazon.com/">Centralized Billing and management </a></li>
								<li><a href="https://aws.amazon.com/">It is one of the cloud companies that offers Hybrid Capabilities and per hour billing</a></li>

							</ol>
						</div>
				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//single-page-->

</body>
		
{% endblock  %}