{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/reg.css"%}">
    <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/font-awesome.min.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>Registartions</title>
</head>

<body>
    <h1>Registartions Form</h1>
    <div class="reg">
        <form id="reg" action="" method="POST">
            {% csrf_token %}
            <img src="{% static "/REG_LOG_FORGOT/images/LOGO2.JPG"%}" alt=""><br><br>
     
    <!-- Username -->
            <div>
                <!-- <label>User Name</label><br> -->
                <span class="fa fa-user"></span>
                <input type="text" name="username" id="name" placeholder="User Name" required=""/>{{values.username}}<br><br>
                
            </div>

 
    <!-- Email -->
            <div>
                <!-- <label>Email</label><br> -->
                <span class="fa fa-envelope"></span>
                <input type="email" name="email" id="name" placeholder="example@gmail.com" required=""/>{{values.email}}<br><br>
            </div>       

    <!-- Profile -->
            <div>
                <!-- <label>Select Your Profile</label><br> -->
                <span class="fa fa-user" ></span>

                <input type="radio" id="ml" name="male" required=""/>
                <span id="male">Businessman</span>&nbsp;

                <input type="radio" id="ml" name="male" required=""/>  
                <span id="other">Client</span>&nbsp;
               <br><br>
            </div>           

    <!-- Mobile -->
            <div>
                <!-- <label>Enter Your Mobile Number</label><br> -->
                <span class="fa fa-mobile"></span>
            

                <input type="tel" name="Mnum" placeholder="********09" id="mnum"  pattern="[1-9]{1}[0-9]{9}" required=""/>{{values.phone_number}}<br><br>
            </div>
                    
    <!-- DOB -->
            <div>
                <!-- <label>Enter Your DOB</label><br> -->
                <span class="fa fa-calendar"></span>
                <input type="date" id="name" values={{values.birthdate}} name="DOB" required=""/><br><br>
                
            </div> 

    <!-- Gender -->
            <div>
                <!-- <label>Select Your Gender</label><br> -->
                <span class="fa fa-transgender-alt" ></span>

                <input type="radio" id="ml" name="male" >
                <span id="male">Male</span>&nbsp;

                <input type="radio" id="ml" name="male">  
                <span id="other">Fe-male</span>&nbsp;

                <input type="radio" id="ml" value="{{values.gender}}" name="male" >
                <span id="other">Other</span>
               <br><br>
            </div>
            
    <!-- Password     -->
            <div>
                <!-- <label>Password</label><br> -->
                <span class="fa fa-lock"></span>
                <input type="password" name="password" id="name" placeholder="Enter Your Password" required=""/> <br><br>
                
            </div>

    <!-- Confirm Password -->
            <div>
                <!-- <label>Confirm Password</label><br> -->
                <span class="fa fa-lock"></span>
                <input type="password" name="pass" id="name" placeholder="Confirm Password" required=""/><br><br>
                
            </div>

            <div class="login-check">
                <label class="checkbox">
                <input type="checkbox" name="checkbox" checked="">
                <i> </i> Keep me logged in</label>
           </div>

            <button type="submit" id="sub" value="Register">Register</button>
        </form>
        <label >Login using Below:-</label>
        <div class="social">
            <ul>
                <!-- <li>or login using : </li> -->
                <li><a href="https://www.facebook.com/" target="_blank" class="facebook"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://twitter.com/" target="_blank" class="twitter"><span class="fa fa-twitter"></span></a></li>
                <li><a href="https://www.google.com/" target="_blank" class="google"><span class="fa fa-google-plus"></span></a></li>
            </ul>
        </div>
    </div>
</body>
</html>