{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/reg.css"%}">
    <link rel="stylesheet" href="{% static "/REG_LOG_FORGOT/css/font-awesome.min.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>Registartions</title>
</head>

<body>
    <h1>Registartions Form</h1>
    <div class="reg">
        <form  action="/final_reg" method="POST">
            {% csrf_token %}
            <img src="{% static "/REG_LOG_FORGOT/images/LOGO2.JPG"%}" alt=""><br><br>
     
    <!-- Username -->
            <div>
                <!-- <label>User Name</label><br> -->
                <span class="fa fa-user"></span>
                <input type="text" name="username"  id="name" placeholder="User Name" required=""/><br><br>
                
            </div>

 
    <!-- Email -->
            <div>
                <!-- <label>Email</label><br> -->
                <span class="fa fa-envelope"></span>
                <input type="email" name="email"  id="name" placeholder="example@gmail.com" required=""/><br><br>
            </div>       

            
    <!-- Profile -->
            <div >
                <!-- <label>Select Your Profile</label><br> -->
                    <span class="fa fa-user" ></span>

                    <!-- <input type="radio" id="ml" name="gender" required=""/>
                    <label for="Businessman">Businessman</label>

                    <input type="radio" id="ml" name="gender" required=""/>  
                    <label for="Client">Client</label> -->



                    <input type="radio" id="bm" name="profile">
                    <label for="Businessman">Businessman</label>

                    <input type="radio" id="cl" name="profile" >
                    <label for="client">Client</label><br>  
                     <br>
            </div>           

    <!-- Mobile -->
            <div>
                <!-- <label>Enter Your Mobile Number</label><br> -->
                <span class="fa fa-mobile"></span>
            

                <input type="tel" name="phone_number"  placeholder="********09" id="mnum"  pattern="[1-9]{1}[0-9]{9}" required=""/><br><br>
            </div>
                    
    <!-- DOB -->
            <div>
                <!-- <label>Enter Your DOB</label><br> -->
                <span class="fa fa-calendar"></span>
                <input type="date" id="name" name="birthdate" required=""/><br><br>
                
            </div> 

    <!-- Gender -->
            <div>

                <span class="fa fa-user" ></span>

                <!-- <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>

                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
                
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label> -->



                <!-- <label for="gender">Choose Your gender:</label> -->
                <select id="name" name="gender">
                  <option value="Male">male</option>
                  <option value="Female">female</option>
                  <option value="Other">other</option>
                </select>




               <br><br>
            </div>
            
    <!-- Password     -->
            <div>
                <!-- <label>Password</label><br> -->
                <span class="fa fa-lock"></span>
                <input type="password" name="password" id="name"  placeholder="Enter Your Password" required=""/> <br><br>
                
            </div>

    <!-- Confirm Password -->
            <div>
                <!-- <label>Confirm Password</label><br> -->
                <span class="fa fa-lock"></span>
                <input type="password" name="c_password" id="name"  placeholder="Confirm Password" required=""/><br><br>
                
            </div>
{% comment %} 
            <div class="login-check">
                <label class="checkbox">
                <input type="checkbox" name="checkbox" checked="">
                <i> </i> Keep me logged in</label>
           </div> {% endcomment %}

            <button type="submit" id="sub" value="Register">Register</button>
        </form>
        <label >Login using Below:-</label>
        <div class="social">
            <ul>
                <!-- <li>or login using : </li> -->
                <li><a href="https://www.facebook.com/" target="_blank" class="facebook"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://twitter.com/" target="_blank" class="twitter"><span class="fa fa-twitter"></span></a></li>
                <li><a href="https://www.google.com/" target="_blank" class="google"><span class="fa fa-google-plus"></span></a></li>
            </ul>
        </div>
    </div>
</body>
</html>