{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<title>Highway - Free CSS Template</title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="{% static "Sub_Portfolio/css/bootstrap.min.css"%}">
        <link rel="stylesheet" href="{% static "Sub_Portfolio/css/bootstrap-theme.min.css"%}">
        <link rel="stylesheet" href="{% static "Sub_Portfolio/css/fontAwesome.css"%}">
        <link rel="stylesheet" href="{% static "Sub_Portfolio/css/light-box.css"%}">
        <link rel="stylesheet" href="{% static "Sub_Portfolio/css/templatemo-style.css"%}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="{% static "Sub_Portfolio/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"%}"></script>
    </head>

<body>


    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Welcome to <em>Tech-Port</em></h1>
              {% comment %} <p>FREE CSS TEMPLATE by templatemo</p>
              <p>Homepage with full-width image gallery</p> {% endcomment %}
                <div class="scroll-icon">

                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="{%static "Sub_Portfolio/img/scroll-icon.png"%}" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{%static "Sub_Portfolio/highway-loop.mp4"%}" type="video/mp4" />
        </video>
    </div>


    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">



{% for retail_portfolio in retail_portfolio %}

            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{{ retail_portfolio.photo.url }}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1><em>Retail</em></h1>
                                <p>Awesome Retail port Goes Here</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ retail_portfolio.photo.url }}">
                        </div>
                    </div></a>
                </div>
            </div>
        
{% endfor %}


        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% comment %} <script>window.jQuery || document.write('<script src="{% static "Sub_Portfolio/js/vendor/jquery-1.11.2.min.js"%}"><\/script>')</script> {% endcomment %}

    <script src="{% static "Sub_Portfolio/js/vendor/bootstrap.min.js"%}"></script>

    
    <script src="{% static "Sub_Portfolio/js/plugins.js"%}"></script>
    <script src="{% static "Sub_Portfolio/js/main.js"%}"></script>


    
</body>
</html>